<a href="https://colab.research.google.com/github/marceloosg/datasciencecoursera/blob/master/Trustly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Trustly Test Case

## Data Exploration/Description

In [1]:
import os

In [9]:
fn=[f for f in os.listdir(".")  if 'csv' in f][0]

In [11]:
import pandas as pd

In [13]:
df=pd.read_csv(fn, encoding= 'latin1')

In [14]:
df.describe()

               SAFRA            V1  ...           CEP        TARGET
count   11169.000000  10437.000000  ...  1.116900e+04  11169.000000
mean   201906.522339      0.106448  ...  2.006559e+07      0.010744
std         3.447787      0.308425  ...  1.019638e+07      0.103100
min    201901.000000      0.000000  ...  7.050301e+06      0.000000
25%    201904.000000      0.000000  ...  8.412006e+06      0.000000
50%    201907.000000      0.000000  ...  2.132109e+07      0.000000
75%    201910.000000      0.000000  ...  2.918217e+07      0.000000
max    201912.000000      1.000000  ...  3.808006e+07      1.000000

[8 rows x 13 columns]

In [15]:
df.head()

    SAFRA   V1    V2      V3    V4  ...  V10  V11             V12       CEP  TARGET
0  201901  NaN   8.1    9.99  1968  ...    0   SP       São Paulo   8412006       0
1  201910  0.0   4.4   35.00  1369  ...    0   RJ  Rio de Janeiro  23580304       0
2  201906  0.0   0.7   52.99  1228  ...    0   MG  Belo Horizonte  30421310       0
3  201910  0.0  63.3  810.00     0  ...    0   SP       São Paulo   8253410       0
4  201902  0.0   4.1   17.50     0  ...    0   ES         Vitória  29017186       0

[5 rows x 15 columns]

Observaçöes:
- SAFRA -> data-mes
- V1 -> presença de Nans
- V11 -> UF 
- V12 -> cidade CEP 
- Target -> variável binária

In [20]:
df.isna().mean()

SAFRA     0.000000
V1        0.065539
V2        0.020324
V3        0.000000
V4        0.000000
V5        0.081117
V6        0.000000
V7        0.014415
V8        0.031158
V9        0.010028
V10       0.000000
V11       0.000000
V12       0.000000
CEP       0.000000
TARGET    0.000000
dtype: float64